<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @student.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @student.date_of_birth %>
</p>

<p>
  <b>Address:</b>
  <%= @student.address %>
</p>

<p>
  <b>State:</b>
  <%= @student.state %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= block_link @student %> |
<%= link_to 'Back', students_path %>
