<div class="page-header">
  <h1><%= @student.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Phone:</dt>
  <dd><%= @student.phone %></dd>

  <dt>Email:</dt>
  <dd><%= mail_to @student.email %></dd>
  
  <dt>Date of birth:</dt>
  <dd><%= @student.date_of_birth %></dd>
  
  <dt>Address:</dt>
  <dd><%= @student.address %></dd>
  
  <dt>State:</dt>
  <dd><%= @student.state %></dd>
</dl>

<%= link_to 'Back', students_path, class: 'btn' %>
<%= link_to 'Edit', edit_student_path(@student), class: 'btn' %>
<%= block_link @student %>

